<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <title>Quản lý điểm thành phần</title>
  <link rel="stylesheet"
        href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css">
</head>
<body>
<div align="center">
  <h1>Quản lý điểm thành phần</h1>
  <h2>
    <a th:href="@{/monhoc}" class="btn btn-warning">Quản lý môn học</a>
    <a th:href="@{/}" class="btn btn-warning">Quản lý sinh viên</a>
  </h2>
  <hr>
</div>
<div align="center">
  <h2>Danh sách điểm thành phần</h2>
  <br>
  <form method="get" th:action="@{/diemthanhphan/tim}">
    <input type="text" placeholder="Tìm kiếm..." name="keyword">
    <input type="submit" class="btn btn-success" value="Tìm kiếm" />
  </form>
  <br>
  <table border="1" cellpadding="5">
    <tr class="text-center">
      <th>ma</th>
      <th>Mã sinh viên</th>
      <th>Tên sinh viên</th>
      <th>Mã môn học</th>
      <th>Tên môn học</th>
      <th>Điểm chuyên cần</th>
      <th>Điểm bài tập lớn</th>
      <th>Điểm thi</th>
    </tr>
    <tr th:each="d : ${diemThanhPhans}">
      <td th:utext="${d.ma}" class="text-center"></td>
      <td th:utext="${d.sinhVien.ma}" class="text-left"></td>
      <td th:utext="${d.sinhVien.hoTen}" class="text-left"></td>
      <td th:utext="${d.monHoc.ma}" class="text-center"></td>
      <td th:utext="${d.monHoc.tenMon}" class="text-center"></td>
      <td th:utext="${#numbers.formatDecimal(d.chuyenCan, 1, 2, 'COMMA')}" class="text-center"></td>
      <td th:utext="${#numbers.formatDecimal(d.baiTapLon, 1, 2, 'COMMA')}" class="text-center"></td>
      <td th:utext="${#numbers.formatDecimal(d.diemThi, 1, 2, 'COMMA')}" class="text-center"></td>
    </tr>
  </table>
</div>
</body>
</html>