<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <title>Quản lý môn học</title>
  <link rel="stylesheet"
        href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css">
</head>
<body>
<div align="center">
  <h1>Quản lý môn học</h1>
  <h2>
    <a th:href="@{/}" class="btn btn-warning">Quản lý sinh viên</a>
    <a th:href="@{/diemthanhphan}" class="btn btn-warning">Quản lý điểm thành phần</a>
  </h2>
  <hr>
</div>
<div align="center">
  <h2>Danh sách môn học</h2>
  <br>
  <form method="get" th:action="@{/monhoc/tim}">
    <input type="text" placeholder="Tìm kiếm..." name="keyword">
    <input type="submit" class="btn btn-success" value="Tìm kiếm" />
  </form>
  <br>
  <table border="1" cellpadding="5">
    <tr class="text-center">
      <th>Mã</th>
      <th>Tên môn</th>
      <th>Số tính chỉ</th>
      <th>Trạng thái</th>
      <th>Danh sách sinh viên</th>
    </tr>
    <tr th:each="m : ${monHocs}">
      <td th:utext="${m.ma}" class="text-center"></td>
      <td th:utext="${m.tenMon}" class="text-left"></td>
      <td th:utext="${m.soTinChi}" class="text-center"></td>
      <td th:utext="${m.trangThai}" class="text-center"></td>
      <td><a th:href="@{'/diemthanhphan/' + ${m.ma}}"
             class="btn btn-success">Xem</a> &nbsp;&nbsp;&nbsp;&nbsp;
        <a th:href="@{'/diemthanhphan/dieu-kien/' + ${m.ma}}"
             class="btn btn-success">Xem BTL>8</a> &nbsp;&nbsp;&nbsp;&nbsp;
      </td>
    </tr>
  </table>
</div>
</body>
</html>