<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <title>Quản lý sinh viên</title>
  <link rel="stylesheet"
        href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css">
</head>
<body>
<div align="center">
  <h1>Quản lý sinh viên</h1>
  <h2>
    <a th:href="@{/monhoc}" class="btn btn-warning">Quản lý môn học</a>
    <a th:href="@{/diemthanhphan}" class="btn btn-warning">Quản lý điểm thành phần</a>
  </h2>
  <hr>
</div>
<div align="center">
  <h2>Danh sách sinh viên</h2>
  <br>
  <form method="get" th:action="@{/tim}">
    <input type="text" placeholder="Tìm kiếm..." name="keyword">
    <input type="submit" class="btn btn-success" value="Tìm kiếm" />
  </form>
  <br>
  <table border="1" cellpadding="5">
    <tr class="text-center">
      <th>ma</th>
      <th>Họ tên</th>
      <th>Quê quán</th>
      <th>Năm sinh</th>
      <th>Trạng thái</th>
    </tr>
    <tr th:each="sv : ${sinhViens}">
      <td th:utext="${sv.ma}" class="text-center"></td>
      <td th:utext="${sv.hoTen}" class="text-left"></td>
      <td th:utext="${sv.queQuan}" class="text-center"></td>
      <td th:utext="${#dates.format(sv.namSinh, 'dd-MM-yyyy')}" class="text-center"></td>
      <td th:utext="${sv.trangThai}" class="text-center"></td>
    </tr>
  </table>
</div>
</body>
</html>